/*
.chart-card {
  max-height: auto;
  width: 100%;
  margin-bottom: 20px;
}

!* Style pour les titres des cartes *!
.card-title-center {
  text-align: center;
}

!* Style pour les conteneurs des graphiques *!
.chart-container {
  width: 60%;
}


*/

