<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>club UIR</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
  <!--  <link rel="stylesheet" href="../assets/css/styles.min.css" />-->
</head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">

  <div class="container-fluid">
    <div class="card">
      <div class="card-body" style=" max-height: 200px;">
        <h5 class="card-title fw-semibold mb-4">La liste des projets</h5>
        <p class="mb-0">Visualiser les projets existants</p>
      </div>
    </div>
  </div>

  <div class="container" style=" max-width: 1300px; margin: 0 auto;">
    <div class="card">
      <div class="card-body">
        <div class="card-header">
        </div>
        <table class="table table-striped text-center">
          <thead>
          <tr>
            <th>nom du projet</th>
            <th>budget</th>
            <th (click)="sortProjectsByDateFin()" >date debut <br> date de fin</th>

            <th>description</th>
            <th>Directeur</th>
            <th>Chef de Service</th>
            <th>Cahier de charge</th>
            <th>Telecharger CDC</th>
            <th>Mes Taches</th>
          </tr>
          </thead>
          <tbody id="table" >
          <tr *ngFor="let projet of projects">
            <td>{{ projet.nom }}</td>
            <td>{{ projet.budget }} DH</td>
            <td>{{ projet.dateDebut | date:'dd/MM/yyyy' }} - {{projet.dateFin | date: 'dd/MM/yyyy'}}</td>
            <td>{{ projet.description }}</td>
            <td>{{ projet.directeur.nom }} {{ projet.directeur.prenom }}</td>
            <td>{{ projet.chefService.nom }} {{ projet.chefService.prenom }}</td>
            <td>{{ projet.fileName ? projet.fileName : '----' }}</td>
            <td>
              <button class="btn btn-success me-2" (click)="downloadFile(projet.idProject,projet.nom)">Download</button>
            </td>
            <td><button class="btn btn-success">mes taches</button></td>
          </tr>
          </tbody>
        </table>
      </div>

        </div>
      </div>
    </div>

</body>

</html>

