<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Mon Projet</title>
  <link rel="shortcut icon" type="image/png" href="src/assets/images/logos/favicon.png" />
</head>

<body>
<!-- Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <app-side-bar-employe></app-side-bar-employe>
  </aside>

  <!-- Main wrapper -->
  <div class="body-wrapper">
    <!-- Header Start -->
    <header class="app-header">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>
        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <img src="../assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">

                  <a routerLink="/login" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>

                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Header End -->
    <div class="container-fluid">
      <div class="card">
        <div class="card-body" style=" max-height: 200px;">
          <h5 class="card-title fw-semibold mb-4">Visualisé la liste de mes projets</h5>
          <p class="mb-0">Informations sur mes projets</p>
        </div>
      </div>
    </div>
    <div class="container-md pt-9">
      <div class="card">
        <div class="card-body">
        <table class="table table-striped text-center">
          <thead>
          <tr>
            <th>nom du projet</th>
            <th>budget</th>
            <th (click)="sortProjectsByDateFin()" >date debut <br> date de fin</th>

            <th>description</th>
            <th>Directeur</th>
            <th>Chef de Service</th>
            <th>Cahier de charge</th>
            <th>Telecharger CDC</th>
            <th>Mes Taches</th>
          </tr>
          </thead>
          <tbody id="table" >
          <tr *ngFor="let projet of projects">
            <td>{{ projet.nom }}</td>
            <td>{{ projet.budget }} DH</td>
            <td>{{ projet.dateDebut | date:'dd/MM/yyyy' }} - {{projet.dateFin | date: 'dd/MM/yyyy'}}</td>
            <td>{{ projet.description }}</td>
            <td>{{ projet.directeur.nom }} {{ projet.directeur.prenom }}</td>
            <td>{{ projet.chefService.nom }} {{ projet.chefService.prenom }}</td>
            <td>{{ projet.fileName ? projet.fileName : '----' }}</td>
            <td>
              <button class="btn btn-success me-2" (click)="downloadFile(projet.idProject,projet.nom)">
                <i class="ti ti-download"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-success" (click)="redirectToTaches(projet.idProject)">Mes Taches</button>
            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
</div>
</body>

</html>
